<div class="row">
  <div class="span12">
    <h1>Events</h1>
    
    <p><%= link_to "Submit Event", :new_event, :class => "btn btn-inverse btn-small" %></p>
    
    <table id="events_table" class="table table-striped table-condensed">
      <tbody>
        <% @events.each do |event| %>
          <tr id="<%= "event_row_#{event.id}" %>">
            <%= render :partial => "row", :locals => {:event => event, :current => true} %>
          </tr>
        <% end %>
      </tbody>
      
      <tbody class="past_events">
        <% @past_events.each do |event| %>
          <tr id="<%= "event_row_#{event.id}" %>">
            <%= render :partial => "row", :locals => {:event => event, :current => false} %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<style type="text/css" media="screen">
  h5{
    margin: 0;
    padding: 0;
    line-height: 20px;
  }
  p{
    font-size: 16px;
    line-height: 1.5;
  }
  form{
    margin-bottom: 0;
  }
</style>