<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title><%= page_title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <meta name="description" content="<%= page_description %>">  
  <meta property="og:image" content="<%= "#{request.protocol}#{request.host_with_port}#{asset_path('omawho-share.png')}" %>" />

  <!-- CSS
  ================================================== -->
  <link href="http://fonts.googleapis.com/css?family=Arvo|Signika:700" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag "application", :media => "all" %>

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="<%= asset_path("icons/favicon.ico") %>">
  <link rel="apple-touch-icon" href="<%= asset_path("icons/apple-touch-icon.png") %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= asset_path("icons/apple-touch-icon-72x72.png") %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= asset_path("icons/apple-touch-icon-114x114.png") %>">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= asset_path("icons/apple-touch-icon-144x144.png") %>" />

  <!-- JS
  ================================================== -->
  <%= javascript_include_tag "application" %>
  
  <%= auto_discovery_link_tag :atom, "/feed" %>
  <%= auto_discovery_link_tag :rss, "/feed.rss" %>

  <%= csrf_meta_tags %>
</head>

<body class="home">

  <!-- Color Bars (above header)-->
  <div class="color-bar-1"></div>
  <div class="color-bar-2 color-bg"></div>

  <div class="container">
    <div class="row header"><!-- Begin Header -->

      <!-- Logo
      ================================================== -->
      <div class="span5 logo">
        <%= link_to @site_title, :root %>
      </div>

      <!-- Main Navigation
      ================================================== -->
      <%= render :partial => "layouts/nav", :locals => {} %>
      
      <div class="span12" id="blurb">
        <h2><%= blurb %></h2>
      </div>
    </div><!-- End Header -->

    <!-- Page Content
    ================================================== --> 
    <% if notice.present? || alert.present? %>
      <div class="alert <%= notice.present? ? "alert-success" : "alert-error" %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        
        <% if notice.present? %>
          <i class="icon-ok"></i> <%= notice %>
        <% else %>
          <i class="icon-exclamation-sign"></i> <%= alert %>
        <% end %>          
      </div>
    <% end %>
    
    <%= yield %>
    
  </div> <!-- End Container -->

  <!-- Footer Area
  ================================================== -->
  <%= render :partial => "layouts/footer", :locals => {} %>

  <!-- Scroll to Top -->  
  <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>
    
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.async = true;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
